<nav mat-tab-nav-bar>
  <a mat-tab-link [active]="rla.isActive"
     routerLink="/" routerLinkActive #rla="routerLinkActive"
     [routerLinkActiveOptions]="{exact: true}">
    <span class="angular-xo-icon-solid"></span>
    {{appConfig.app.title}}
  </a>
  <a *ngFor="let item of navItems" mat-tab-link [active]="rla.isActive"
     [routerLink]="item.url" routerLinkActive #rla="routerLinkActive"
     [routerLinkActiveOptions]="{exact: item.meta && item.meta.xo_menu_item_router_exact}">{{item.title}}</a>
  <div class="spacer"></div>
  <a mat-tab-link href="https://github.com" target="_blank">
    <span class="github-icon-white"></span>
    GitHub
  </a>
</nav>
