@import '../../../../shared/_variables.scss';

:host {
	::ng-deep {
		.mat-nav-list {
			padding-top: 0;
			background-color: #FFFFFF;

			.mat-list-item {
				color: $color-primary;

				&:not(.last-item) {
					border-bottom: 1px solid rgba(0, 0, 0, .08);
				}
			}
		}
	}
}
