@import '../../shared/_variables.scss';

:host {
  max-width: 200px;
  position: sticky;
  top: 45px;
  padding-left: 25px;
  box-sizing: border-box;
  display: inline-flex;

  .contents {
    padding: 5px 0 10px 10px;
    border-left: 4px solid $color-primary;

    .contents-inner {
      .contents-heading {
        font-size: 13px;
        font-weight: 700;
      }

      .contents-link {
        position: relative;
        display: block;
        color: rgba(0,0,0,.54);
        transition: color .1s;
        text-decoration: none;
        margin-top: 8px;
        line-height: 16px;
        font-size: 14px;
        transition: .4s ease;

        &:after {
          content: '';
          opacity: 0;
          position: absolute;
          left: -10px;
          top: 3px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid $color-primary;
        }

        &:hover,
        &.link-active {
          color: $color-primary;
        }

        &.link-active {
          &:after {
            opacity: 1;
          }
        }

        &.link-space-h3 {
          padding-left: 8px;
        }

        &.link-space-h4 {
          padding-left: 16px;
        }
      }
    }
  }

  @media($mat-xsmall) {
    order: -1;
    position: inherit;
    max-width: none;
    padding-left: 0;
  }
}
