@import '~@angular/material/theming';
@import '../../shared/_variables.scss';
@import '../../shared/_pages.scss';

:host {
  @include page-container();

  .content {
    .header {
      overflow: hidden;
      padding: 50px 0;
      color: #FFFFFF;
      background-color: $color-primary;
      text-align: center;

      .header-inner {
        width: 95%;
        max-width: 750px;
        margin: 0 auto;

        h1 {
          font-size: 50px;
          font-weight: 300;
          line-height: 50px;
          margin: 0 0 15px 0;
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
          line-height: 28px;
          margin: 0 0 15px 0;
        }

        .header-buttons {
          margin-top: 60px;

          .mat-button {
            color: rgba(0, 0, 0, 0.87);
            background-color: #FFFFFF;
            @include mat-elevation(2);

            ::ng-deep {
              .mat-button-focus-overlay {
                background-color: rgba(0, 0, 0, 0.05);
              }
            }

            &:hover {
              @include mat-elevation(6);
            }
          }
        }
      }

      @media ($mat-xsmall) {
        padding: 30px 0;

        .header-inner {
          h1 {
            font-size: 30px;
            margin-bottom: 10px;
          }

          h2 {
            font-size: 16px;
            margin-bottom: 10px;
          }

          .header-buttons {
            margin-top: 30px;
          }
        }
      }
    }

    .feature {
      padding-top: 40px;

      .feature-inner {
        display: flex;
        align-items: center;
        width: 80%;
        max-width: 550px;
        margin: 0 auto;

        .feature-logo {
          flex: 1;

          &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

          &.angular-logo {
            background-image: url('../../../assets/svg/angular-color.svg');
          }

          &.angular-xo-logo {
            background-image: url('../../../assets/svg/angular-xo-color.svg');
          }

          &.wordpress-logo {
            background-image: url('../../../assets/svg/wordpress-color.svg');
          }
        }

        .feature-sep {
          margin: 0 20px;

          .mat-icon {
            width: 50px;
            height: 50px;
            font-size: 50px;
            color: rgba($color-primary, .6);
            cursor: default;
          }

          @media ($mat-xsmall) {
            margin: 0 10px;

            .mat-icon {
              width: 24px;
              height: 24px;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
