<div class="heading" [ngSwitch]="section.type">
	<h1 *ngSwitchCase="'h1'" [id]="section.id" xo-material-sections-heading-link [section]="section"></h1>
	<h2 *ngSwitchCase="'h2'" [id]="section.id" xo-material-sections-heading-link [section]="section"></h2>
	<h3 *ngSwitchCase="'h3'" [id]="section.id" xo-material-sections-heading-link [section]="section"></h3>
	<h4 *ngSwitchCase="'h4'" [id]="section.id" xo-material-sections-heading-link [section]="section"></h4>
	<h5 *ngSwitchCase="'h5'" [id]="section.id" xo-material-sections-heading-link [section]="section"></h5>
	<h6 *ngSwitchCase="'h6'" [id]="section.id" xo-material-sections-heading-link [section]="section"></h6>
</div>
